@page "/inventories"

<h3>Inventory List</h3>
<br />
<br />
<SearchComponent OnSearch="HandleSearch"></SearchComponent>
<br />

<InventoryListComponent SearchInventoryFilter="@inventoryNameToSearch"></InventoryListComponent>
<br />

<a href="/addinventory" class="btn btn-primary">Add Inventory</a>


@code {
	private string? inventoryNameToSearch;

	// Function is located in the parent component. We supply this function as a component parameter to the child component.
	// In this situation it is SearchComponent, inside the child component, when the form is submitted. We are going to trigger
	// the Search function that is OnSubmit. Explanation con't in child component.
	private void HandleSearch(string searchFilter)
	{
		// When this function is triggered by the child component, we want to change the value of SearchInventoryFilter.
		inventoryNameToSearch = searchFilter;
	}
}
